## Dependencies
/node_modules/
/.pnpm-store/
/.pnp
.pnp.js
.pnpm-debug.log*

## TypeScript
*.tsbuildinfo

## Testing
/coverage/
/dist/

## Misc
.DS_Store
.husky/_/
.env*.local
*.log
*.pem
/s20-wifi-setup-*.tgz
